[submodule "ext/w3f"]
	path = ext/w3f
	url = https://github.com/w3f/jamtestvectors
	branch = master
[submodule "ext/jamduna"]
	path = ext/jamduna
	url = https://github.com/jam-duna/jamtestnet
	branch = main
[submodule "ext/pvm-koute"]
	path = ext/pvm-koute
	url = https://github.com/koute/jamtestvectors.git
	branch = master_pvm_initial
